body {
  color: red;
  background-color: black;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwpYZdExFmnuipKjMR5m7FT3dBfFYHeI0i6g&usqp=CAU");
}
#password {
  font-size: 15px;
}
a {
  font-size: 25px;
}
